@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

:root {
  --primary-color: #3aafa9;
  --secondary-color: #f7fff7;
  --accent-color: #ff6f61;
  --text-color: #17252a;
  --background-color: #def2f1;
  --navbar-bg-color: #2b7a78;
  --card-bg-color: #feffff;
  --card-data-bg-color: #e2e2e2;
  --footer-bg-color: #17252a;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --hover-bg-color: #fae3d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg-color);
  padding: 7px 20px;
}

#logo {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: #ffffff;
  margin: 0;
  font-weight: bold;
}

nav a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  background-color: var(--hover-bg-color);
  color: #17252a;
  border-radius: 5px;
}

#search {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#findContinent {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#countries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  flex: 1;
  gap: 20px;
}

.country-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: calc(33.33% - 40px);
  max-width: 300px;
  box-shadow: 0 4px 10px var(--box-shadow-color);
  background-color: var(--card-bg-color);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-data {
  margin-top: 10px;
  background-color: var(--card-data-bg-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.country-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-content {
  background-color: var(--footer-bg-color);
  color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 5% auto;
  width: 80%;
  animation: fadeIn 0.3s;
}

#modal-country-flag {
  width: auto;
  height: auto;
  max-width: 100%;
}

#modal-country-language a{
  color: lightskyblue;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: var(--accent-color);
  cursor: pointer;
}

footer {
  background-color: var(--footer-bg-color);
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .country-card {
    width: calc(100% / 2 - 40px);
  }
  #logo {
    font-size: 35px;
  }
  #nav_data {
    display: none;
  }
  #findContinent {
    margin-top: 10px;
  }
  #search {
    width: calc(100% - 20px);
  }
  nav {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .country-card {
    width: calc(100% - 20px);
  }
  #logo {
    font-size: 35px;
  }
  #nav_data {
    display: none;
  }
  #findContinent {
    margin-top: 10px;
  }
  header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
